"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "1984b400-2974-4869-a77f-bd55982b2e26"
  "linter-ui-default": {}
  "vim-mode-plus":
    ignoreCaseForSearch: true
    keymapYToYankToLastCharacterOfLine: true
    statusBarModeStringStyle: "long"
  welcome:
    showOnStartup: false
