[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xfce_autostart_session
Comment=
Exec=/home/aaf/sysangel/scripts/xfce_autostart.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

