[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=capstoesc
Comment=
Exec=xmodmap /home/aaf/sysangel/files/capstoesc.txt
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

